[submodule "third_party/vim-plug"]
	path = third_party/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "third_party/z"]
	path = third_party/z
	url = https://github.com/rupa/z.git
[submodule "third_party/codefocus-vim"]
	path = third_party/codefocus-vim
	url = https://github.com/mfranke93/codefocus-vim.git
[submodule "third_party/zsh-autoenv"]
	path = third_party/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
