[submodule "third_party/vim-monokai"]
	path = third_party/vim-monokai
	url = git@github.com:crusoexia/vim-monokai
[submodule "third_party/vim-plug"]
	path = third_party/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "third_party/zsh-syntax-highlighting"]
	path = third_party/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
